block meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset='utf-8')
    meta(content='JSON REST to gRPC proto Convertor', name='description')
    meta(content='go, golang, json, protobuf, protoc, grpc, http2', name='keywords')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='Yusuke Kato', name='author')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")
