block head
    header
        .container
            .page-header(style='margin-top: 0px !important;')
                img(src='img/gopher.jpg', style='padding:5px 15px 15px; float:left; width:8%')
                a(href='https://kpango.net')
                    h1 kpango.net
                small I'm an software engineer of Yahoo!JAPAN who loves go, Rust and Nim

