block nav
    .container
        .navbar.navbar-default.navbar-top(style='margin-bottom: 0px !important')
            .navbar-header
                button.navbar-toggle(data-target='.navbar-collapse', data-toggle='collapse', type='button')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='http://kpango.net') Home
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='http://kpango.net/categories') Category List
                    li
                        a(href='http://kpango.net/projects') My Projects
                    li
                        a(href='http://kpango.net/notes') Notes
                    li
                        a(href='http://kpango.net/hacks') Hacks
                ul.nav.navbar-nav.navbar-right.visible-xs
                    li
                        a(href='http://github.com/kpango') Github

